.headerImg {
    object-fit: contain;
    width: 100vw;
    margin-bottom: 5vh;
}

@media screen and (max-width: 720px) {
    .headerImg {
        object-fit: cover;
        width: 100vw;
        height: 50vh;
        margin-bottom: 5vh;
    }

}