.emailVerification {
    margin-top: 12vh;
    position: fixed;
    width: 100vw;
    padding: 5px 10px;
    background-color: #000000da;
    color: #d3d3d3;
}

@media screen and (max-width: 720px) {
    .emailVerification {
        margin-top: 8vh;
        position: fixed;
        width: 100vw;
        padding: 5px 10px;
        background-color: #000000da;
        color: #d3d3d3;
    }

}